script src="#{local_or_live "/local_required/ace/ace.js", "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"}"
script src="#{local_or_live "/local_required/ace/mode-markdown.js", "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/mode-markdown.js"}"
script src="#{local_or_live "/local_required/ace/theme-monokai.js", "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/theme-monokai.js"}"
