script src="/local_required/jquery.min.js"
script src="/local_required/underscore.js"
script src="/local_required/backbone.js"
script src="/local_required/fastclick.min.js"
script src="/local_required/jquery.form.js"
script src="/local_required/jquery.lazyload.min.js"
script src="/local_required/epiceditor.min.js"
script src="/local_required/bootstrap.min.js"
script src="/local_required/intense.min.js"

= yield_content :include_js
= javascript_include_tag 'doublejump'
