link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Nunito:400,300,700' rel='stylesheet' type='text/css'
link rel="stylesheet" href="/local_required/bootstrap.min.css"
link rel="stylesheet" href="/local_required/animate.min.css"

= stylesheet_link_tag 'application'