li class="{{cssClass}}"
    '
        {{#active}}
            {{title}}
        {{/active}}
    ' {{^active}}
    a href="{{link}}" {{title}}
    ' {{/active}}

    input name="{{field_name}}" type="hidden" value="{{id}}"
    a.js-sortable-delete-link href='#'
        |
        i.fa.fa-times-circle
