.DS_Store
log/**/*
tmp/**/*
bin/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.*.sw*
*.sublime-project
*.sublime-workspace
node_modules/*
dump
dumps
public/javascripts/app_bundle.js
public/javascripts/app_bundle.js.map
components.css
application.css
