.comment-panel {
    .title {
        font-size: 1em;
        color: white;
        text-align: left;
    }

    .close-link {
        color: white;
    }

    .Comment {
        color: white;
    }

    input {
        color: white;
    }

    z-index: 10000;

    position: absolute;
    right: 8px;
    top: 8px;

    background: $link-color;
    border-radius: 3px;


    transform-origin: top right;

    min-width: 512px;

    padding: 0.5em;
}
