javascript:

    var $buoop = {

        text: "Hey! You're using a pretty old web browser, and lots of things on Doublejump use shiny new features. Please <a href='http://browser-update.org/update-browser.html'>update your browser</a>, you can go ahead and keep browsing if you like, but things won't look right and sometimes won't work properly either.",
        newwindow: true,
        vs:{i:10,f:15,o:12.1,s:5.1}

    }; 
    $buoop.ol = window.onload; 
    window.onload=function(){ 
     try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
     var e = document.createElement("script"); 
     e.setAttribute("type", "text/javascript"); 
     e.setAttribute("src", "//browser-update.org/update.js"); 
     document.body.appendChild(e); 
    } 


/ /[if lt IE 10]
/     .old-browse
/         p
/             | Hey! You're using a <a href="http://whatbrowser.org/">pretty old web browser</a>, and lots of things on Doublejump use shiny new features. You can go ahead and keep browsing if you like, but things won't look right and sometimes won't work properly either. Take a look at <a href="http://browsehappy.com/">Browse Happy</a> for all the facts on web browsers.