.avatar {
  border-radius: 100000px; }

.avatar.medium {
  width: 128px;
  height: 128px;
  border: 1px solid #aaa; }

.avatar.small {
  width: 55px;
  height: 55px;
  border: 1px solid #aaa; }

.avatar.very-small {
  width: 32px;
  height: 32px;
  border: 1px solid #aaa; }

.image.small {
  max-width: 128px; }

.image.very-small {
  max-width: 64px; }

img.fit-width {
  max-width: 90%;
  padding: 5%; }
