/*
Syntax error: Undefined mixin 'background-image-retina'.
        on line 16 of /Users/Ben/Projects/Ruby/doublejump/app/stylesheets/landing-page.scss, in `background-image-retina'
        from line 16 of /Users/Ben/Projects/Ruby/doublejump/app/stylesheets/landing-page.scss

11:     padding-top: 0px;
12:     padding-bottom: 20px;
13: }
14: 
15: .controller-image {
16:     @include background-image-retina('/images/controller', 'png', 334px, 384px);
17:     width: 334px;
18:     height: 384px;
19:     margin: 0 auto;
20:     background-repeat: no-repeat;
21:     background-position: center;

Backtrace:
/Users/Ben/Projects/Ruby/doublejump/app/stylesheets/landing-page.scss:16:in `background-image-retina'
/Users/Ben/Projects/Ruby/doublejump/app/stylesheets/landing-page.scss:16
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:320:in `block in visit_mixin'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/stack.rb:98:in `with_mixin'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:318:in `visit_mixin'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/engine.rb:274:in `render'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `each'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sass-3.3.7/lib/sass/plugin/rack.rb:51:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/rack-protection-1.5.3/lib/rack/protection/xss_header.rb:18:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/rack-protection-1.5.3/lib/rack/protection/json_csrf.rb:18:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/rack-protection-1.5.3/lib/rack/protection/frame_options.rb:31:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/rack-1.5.2/lib/rack/head.rb:11:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/rack-1.5.2/lib/rack/methodoverride.rb:21:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/padrino-core-0.12.3/lib/padrino-core/reloader/rack.rb:22:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/padrino-core-0.12.3/lib/padrino-core/logger.rb:420:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sinatra-1.4.5/lib/sinatra/show_exceptions.rb:21:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/rack-1.5.2/lib/rack/session/abstract/id.rb:225:in `context'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/rack-1.5.2/lib/rack/session/abstract/id.rb:220:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sinatra-1.4.5/lib/sinatra/base.rb:2014:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sinatra-1.4.5/lib/sinatra/base.rb:1478:in `block in call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sinatra-1.4.5/lib/sinatra/base.rb:1788:in `synchronize'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/sinatra-1.4.5/lib/sinatra/base.rb:1478:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/padrino-core-0.12.3/lib/padrino-core/router.rb:84:in `block in call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/padrino-core-0.12.3/lib/padrino-core/router.rb:75:in `each'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/padrino-core-0.12.3/lib/padrino-core/router.rb:75:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/puma-2.9.0/lib/puma/server.rb:490:in `handle_request'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/puma-2.9.0/lib/puma/server.rb:361:in `process_client'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/puma-2.9.0/lib/puma/server.rb:254:in `block in run'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/puma-2.9.0/lib/puma/thread_pool.rb:92:in `call'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p550/lib/ruby/gems/1.9.1/gems/puma-2.9.0/lib/puma/thread_pool.rb:92:in `block in spawn_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'background-image-retina'.\A         on line 16 of /Users/Ben/Projects/Ruby/doublejump/app/stylesheets/landing-page.scss, in `background-image-retina'\A         from line 16 of /Users/Ben/Projects/Ruby/doublejump/app/stylesheets/landing-page.scss\A \A 11:     padding-top: 0px;\A 12:     padding-bottom: 20px;\A 13: }\A 14: \A 15: .controller-image {\A 16:     @include background-image-retina('/images/controller', 'png', 334px, 384px);\A 17:     width: 334px;\A 18:     height: 384px;\A 19:     margin: 0 auto;\A 20:     background-repeat: no-repeat;\A 21:     background-position: center;"; }
