/*
Syntax error: Undefined mixin 'background-image-retina'.
        on line 30 of /Users/Ben/Projects/Ruby/doublejump/app/stylesheets/learn.scss, in `background-image-retina'
        from line 30 of /Users/Ben/Projects/Ruby/doublejump/app/stylesheets/learn.scss

25: {
26:     padding: 1em;
27: }
28: 
29: .doublejump-gap {
30:     @include background-image-retina('/images/doublejump-gap', 'png', 203px, 28px);
31:     width: 203px;
32:     height: 48px;
33:     margin: 0 auto;
34:     background-repeat: no-repeat;
35:     background-position: center;

Backtrace:
/Users/Ben/Projects/Ruby/doublejump/app/stylesheets/learn.scss:30:in `background-image-retina'
/Users/Ben/Projects/Ruby/doublejump/app/stylesheets/learn.scss:30
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:320:in `block in visit_mixin'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/stack.rb:98:in `with_mixin'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:318:in `visit_mixin'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/engine.rb:274:in `render'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `each'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.7/lib/sass/plugin/rack.rb:51:in `call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rack-protection-1.5.3/lib/rack/protection/xss_header.rb:18:in `call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rack-protection-1.5.3/lib/rack/protection/json_csrf.rb:18:in `call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rack-protection-1.5.3/lib/rack/protection/frame_options.rb:31:in `call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rack-1.5.2/lib/rack/head.rb:11:in `call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rack-1.5.2/lib/rack/methodoverride.rb:21:in `call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rack-1.5.2/lib/rack/session/abstract/id.rb:225:in `context'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rack-1.5.2/lib/rack/session/abstract/id.rb:220:in `call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sinatra-1.4.5/lib/sinatra/base.rb:2014:in `call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sinatra-1.4.5/lib/sinatra/base.rb:1478:in `block in call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sinatra-1.4.5/lib/sinatra/base.rb:1788:in `synchronize'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/sinatra-1.4.5/lib/sinatra/base.rb:1478:in `call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/padrino-core-0.12.0/lib/padrino-core/router.rb:82:in `block in call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/padrino-core-0.12.0/lib/padrino-core/router.rb:75:in `each'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/padrino-core-0.12.0/lib/padrino-core/router.rb:75:in `call'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rack-test-0.6.2/lib/rack/mock_session.rb:30:in `request'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rack-test-0.6.2/lib/rack/test.rb:230:in `process_request'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rack-test-0.6.2/lib/rack/test.rb:57:in `get'
/Users/Ben/.rvm/rubies/ruby-1.9.3-p484/lib/ruby/1.9.1/forwardable.rb:201:in `get'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/capybara-2.2.1/lib/capybara/rack_test/browser.rb:60:in `process'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/capybara-2.2.1/lib/capybara/rack_test/browser.rb:35:in `process_and_follow_redirects'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/capybara-2.2.1/lib/capybara/rack_test/browser.rb:21:in `visit'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/capybara-2.2.1/lib/capybara/rack_test/driver.rb:42:in `visit'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/capybara-2.2.1/lib/capybara/session.rb:197:in `visit'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/capybara-2.2.1/lib/capybara/dsl.rb:51:in `block (2 levels) in <module:DSL>'
/Users/Ben/Projects/Ruby/doublejump/spec/login.rb:10:in `login_admin'
/Users/Ben/Projects/Ruby/doublejump/spec/app/controllers/courses_controller_spec.rb:6:in `block (2 levels) in <top (required)>'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/example.rb:237:in `instance_eval'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/example.rb:237:in `instance_eval'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/hooks.rb:21:in `run'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/hooks.rb:85:in `block in run'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/hooks.rb:85:in `each'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/hooks.rb:85:in `run'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/hooks.rb:446:in `run_hook'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/example_group.rb:345:in `run_before_each_hooks'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/example.rb:294:in `run_before_each'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/example.rb:113:in `block in run'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/example.rb:254:in `with_around_each_hooks'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/example.rb:111:in `run'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/example_group.rb:390:in `block in run_examples'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/example_group.rb:386:in `map'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/example_group.rb:386:in `run_examples'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/example_group.rb:371:in `run'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/command_line.rb:28:in `block (2 levels) in run'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/command_line.rb:28:in `map'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/command_line.rb:28:in `block in run'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/reporter.rb:58:in `report'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/command_line.rb:25:in `run'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/runner.rb:80:in `run'
/Users/Ben/.rvm/gems/ruby-1.9.3-p484/gems/rspec-core-2.14.8/lib/rspec/core/runner.rb:17:in `block in autorun'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'background-image-retina'.\A         on line 30 of /Users/Ben/Projects/Ruby/doublejump/app/stylesheets/learn.scss, in `background-image-retina'\A         from line 30 of /Users/Ben/Projects/Ruby/doublejump/app/stylesheets/learn.scss\A \A 25: {\A 26:     padding: 1em;\A 27: }\A 28: \A 29: .doublejump-gap {\A 30:     @include background-image-retina('/images/doublejump-gap', 'png', 203px, 28px);\A 31:     width: 203px;\A 32:     height: 48px;\A 33:     margin: 0 auto;\A 34:     background-repeat: no-repeat;\A 35:     background-position: center;"; }
