.step-body img {
  max-width: 90%;
  display: block;
  margin: 0 auto; }

.step-body a {
  display: inline-block; }
.step-body .interactive {
  width: 100%;
  margin-bottom: 1em; }
  .step-body .interactive canvas {
    display: block;
    margin: 0 auto; }
