ul.inline {
  list-style: none; }

ul.inline li {
  display: inline; }

.inline-block {
  display: inline-block; }

.center-text {
  text-align: center; }

.align-right {
  text-align: right; }

.center {
  margin-left: auto;
  margin-right: auto; }

.grey {
  color: #ccc !important; }

.lighter-font {
  font-weight: lighter; }

.margin-bottom {
  margin-bottom: 10px; }

.big-margin-bottom {
  margin-bottom: 20px; }

.nudge-down {
  margin-top: 5px; }

.margin {
  margin: 10px; }

.margin-top {
  margin-top: 30px; }

.nudge-right {
  margin-left: 5px; }

.margin-left {
  margin-left: 10px; }

.margin-right {
  margin-right: 10px; }

.no-margin {
  margin: 0px 0px; }

.no-margin-bottom {
  margin-bottom: 0px; }

.small-margin-bottom {
  margin-bottom: 15px; }

.padding {
  padding: 0.5em; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.vertical-center {
  display: table-cell;
  vertical-align: middle;
  height: 100%; }

.full-width {
  width: 100%; }

.code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }
