ul.inline {
  list-style: none; }

ul.inline li {
  display: inline; }

.center-text {
  text-align: center; }

.align-right {
  text-align: right; }

.center {
  margin-left: auto;
  margin-right: auto; }

.nudge-down {
  margin-top: 5px; }

.margin-top {
  margin-top: 30px; }

.nudge-right {
  margin-left: 5px; }

.margin-left {
  margin-left: 15px; }

.no-margin {
  margin: 0px 0px; }

.no-margin-bottom {
  margin-bottom: 0px; }

.small-margin-bottom {
  margin-bottom: 15px; }

.padding {
  padding: 0.5em; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.vertical-center {
  display: table-cell;
  vertical-align: middle;
  height: 100%; }
