@include keyframes(fadeInDownHalfOpacity)
{
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 0.5;
        transform: translateY(0);
    }
}

.fadeInDownHalfOpacity {
  @include animation-name(fadeInDownHalfOpacity);
}

@include keyframes(fadeOutUpHalfOpacity)
{
    0% {
        opacity: 0.5;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.fadeOutUpHalfOpacity {
  @include animation-name(fadeOutUpHalfOpacity);
}