@import 'variables';
@import 'mixins';
@import 'base';
@import 'util';
@import 'landing-page';
@import 'font-awesome/font-awesome';
@import 'learn';
@import 'sharing-progress';
@import 'images';
@import 'override';
@import 'comments';
@import 'step';
@import 'definitions';
@import 'admin-tools';
@import 'loading';
@import 'fluidbox';

html, input, textarea, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
    font-size: 18px;
    font-family: $nunito-stack;
    background-color: #2F3348;

    @media only screen and (min-width: $large-screen) { 
        font-size: 20px;
    }

    @media only screen and (max-width: $tablet) { 
        font-size: 16px;
    }

    @media only screen and (max-width: $mobile) { 
        font-size: 14px;
    }
}

p { margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 0.77em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-family: $montserrat-stack;
}

h1 {
  margin-top: 0;
  font-size: 4.236em;
}

h2 { font-size: 2.618em; }

h3 { font-size: 1.618em; }

h4 { font-size: 1em; }

small, .font-small { font-size: 0.818em; }
.extra-small { font-size: 0.6em; }



.js-template {
  display: none;
}

body {
    font-family: $nunito-stack;
    font-size: 1em;
    line-height: 1.45;
    background-color: #2F3348;
}

.container-fluid
{
    padding-top: 50px;

    max-width: 1920px;

    @media only screen and (max-width: $mobile) { 
        padding-left: 5px;
        padding-right: 5px;
    }
}

.main-content {
    background: $page-content-background-color;
    padding: 1em 1em;
}