$header-link-color: #F6FF56;
$header-link-hover-color: #C0E7FF;
$nunito-stack: 'Nunito', sans-serif;
$montserrat-stack: 'Montserrat', sans-serif;
$mobile: 40em;
$tablet: 64em;
$screen: 90em;

@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);
 
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
    }
  }
}

@import 'normalize';
@import 'base';
@import 'util';
@import 'landing-page';

html {
    font-size: 16px;
    background-color: #2F3348;

    @media only screen and (max-width: $tablet) { 
        font-size: 14px;
    }

    @media only screen and (max-width: $mobile) { 
        font-size: 12px;
    }
}

p { margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 6.854em;
}

h2 { font-size: 4.236em; }

h3 { font-size: 2.618em; }

h4 { font-size: 1.618em; }

small, .font-small {font-size: 0.818em;}



.js-template {
  display: none;
}

body {
    font-family: $nunito-stack;
    font-size: 1em;
    line-height: 1.45;
    background-color: #2F3348;
}

.container
{
    width: 90%;
    margin: 0 5%;
    padding-top: 50px;
}



