.header a {
    color: $header-link-color;
    transition: .3s;
    font-weight: normal;
}

.header a:hover {
    color: $header-link-hover-color;
}

a {
    color: $link-color;
    transition: .3s;

    font-weight: bold;
}

a:hover {
    color: $link-hover-color;
}

p {
    font-weight: lighter;
}