a {
    color: $link-color;
    transition: .3s;
    font-weight: bold;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: $link-hover-color;
    text-decoration: none;
    cursor: pointer;
}

a.header-link, .banner-navigation a {
    color: $header-link-color;
    font-weight: normal;
}

a.header-link:hover, .banner-navigation a:hover {
    color: $header-link-hover-color;
}

.comment a
{
    color: #eee;
}

.comment a:hover
{
    color: $link-hover-color;
    transform: scale(1.1, 1.1);
}

p, li {
    font-weight: lighter;
}

.js-select2
{
    width: 90%;
}

.comment
{
    margin-top: 10px;
    margin-left: 0.5em;
}



.errors
{
    font-size: 0.8em;
    color: $error-color;
    padding-top: 1em;
}

#epiceditor
{
    height: 320px;
}

.callout
{
    color: #444;
    @include border-radius(2px);
    padding: 1em;
    margin-bottom: 1em;
}

.callout.info
{
    background: $info-colour;
    border-left: 5px solid $info-bar-colour;

    color: #555;
}

.callout.notification
{
    background: $notification-colour;
    border-left: 5px solid $notification-bar-colour;
}

.callout.hideable-inner
{
    background: $hideable-colour;
    border-left: 5px solid $hideable-bar-colour;
}

.hideable-inner .content
{
    margin-top: 10px;
    @include animation-duration(0.3s);

    p
    {
        margin-bottom: 0;
    }
}

.hideable-inner .title
{
    font-style: italic;
}

.empty-placeholder
{
    text-align: center;
}

span.asterisk
{
    color: red;
    padding-left: 5px;
    padding-right: 5px;
}

.old-browse
{
    background: $definition-colour;
    border-top: 5px solid $definition-bar-colour;
    padding: 10px;

    p
    {
        margin-bottom: 0;
    }
}

span.MathJax
{
    color: #c7254e;
    font-size: 85%;
}

.MathJax_Display span
{
    color: black !important;
}

[data-visible="false"],
[data-hidden="true"]
{
    display: auto;
}

[data-visible="true"],
[data-hidden="false"]
{
    display: none;
}
