#comment_frame
{
    position: absolute;
    padding: 15px;
    border: 1px solid black;
    border-radius: 3px;

    display: none;
    background: white;

    width: 320px;

    @include animation-duration(0.3s);
}

.comments-list
{
    max-height: 320px;
    overflow-y: scroll;
}