#comment_frame, #upload_frame
{
    position: absolute;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;

    display: none;
    background: white;

    width: 19em;
    max-width: 100%;

    @include animation-duration(0.3s);

    z-index: 10000;
}

#sharing_lightbox, #upload_frame
{
    position: fixed;
}

.comments-list
{
    max-height: 320px;
    overflow-y: scroll;
}

