#comment_frame, #upload_frame
{
    position: absolute;
    padding: 15px;
    border-bottom: 2px solid #ccc;
    border-radius: 3px;

    display: none;
    background: white;

    width: 19em;
    max-width: 100%;

    @include animation-duration(0.3s);

    z-index: 10000;
}

#sharing_lightbox, #upload_frame
{
    position: fixed;
}

.comments-list
{
    max-height: 320px;
    overflow-y: scroll;
}

.step-body
{
    .comment
    {
        position: absolute;
        right: 0.3em; 
        margin-top: -0.5em;

        background: white;
        padding-right: 0.3em;

        @include border-radius(2px);
    }
}

