//_admin_tools_style.scss
.admin-tools
{
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;

    z-index: 100;
}

.floating-tools
{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 5px;

    z-index: 100;

    .round-icon {
        transition: 0.3s, transform 0.3s $bounce-easing;

        &:hover
        {
            @include transform( scale(1.1, 1.1) );
        }
    }
}

.round-icon
{
    border-radius: 1000px;
    width: 40px;
    padding: 5px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    background: #E23434;
    color: white;
    text-align: center;

    border-bottom: 2px solid #B32626;

    font-size: 1.2em;
    cursor: pointer;
}

.round-icon:hover
{
    color: white;
}

.round-icon.big
{
    width: 48px;
    height: 48px;
    font-size: 1.5em;
    background: #3480E2;
    border-bottom: 2px solid #235492;
}

.round-icon.small
{
    width: 32px;
    height: 32px;
    font-size: 0.9em;
    background-color: #34E278;
    border-bottom: 2px solid #239951;
}

.admin-tools
{
    transition: 0.3s, transform 0.3s $bounce-easing;

    &:hover
    {
        @include transform( scale(1.1, 1.1) );
    }
}
//_category_tag_style.scss
.category-tag
{
    padding: 2px 8px;
    @include border-radius(2px);
    margin: 0 2px;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 2px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
//_course_block_style.scss
.course-icon
{
    width: 64px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.math-icon
{
    @include background-image-retina('http://d2wkzz9b3028w4.cloudfront.net/Math', 'png', 64px, 64px);
}

.gamemaker-icon
{
    @include background-image-retina('http://d2wkzz9b3028w4.cloudfront.net/GameMaker', 'png', 64px, 64px);
}

.doublejump-icon
{
    @include background-image-retina('http://d2wkzz9b3028w4.cloudfront.net/Doublejump', 'png', 64px, 64px);
}

.design-icon
{
    @include background-image-retina('http://d2wkzz9b3028w4.cloudfront.net/Design', 'png', 64px, 64px);
}

.management-icon
{
    @include background-image-retina('http://d2wkzz9b3028w4.cloudfront.net/Management', 'png', 64px, 64px);
}

.assets-icon
{
    @include background-image-retina('http://d2wkzz9b3028w4.cloudfront.net/Assets', 'png', 64px, 64px);
}

.unity-icon
{
    @include background-image-retina('http://d2wkzz9b3028w4.cloudfront.net/Unity', 'png', 64px, 64px);
}

.course-block
{
    height: 100%;
    position: relative;
    height: 13em;


    .box
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 10em;
        overflow-y: hidden;
        position: relative;
        z-index: 99;

        transition: height 0.4s $bounce-easing;
    }

    .course-icon
    {
        width: 100%;
        height: 32px;
        @include background-size(24px, 24px);

        transition: 0.4s $bounce-easing;
    }

    &:hover
    {


        .box
        {
            height: 20em;
            position: absolute;
            width: 100%;
            z-index: 100;
        }

        .course-icon
        {
            height: 48px;
            @include background-size(32px, 32px);
        }
    }
}
//_icon_tab_style.scss
.icon-button-tab
{
    color: $header-link-color;
    font-size: 2em;
    transform: scale(0.8, 0.8);
    background: none;
    border: none;

    transition: 0.3s $bounce-easing;

    &:hover
    {
        color: $header-link-hover-color;;
        transform: scale(1.0, 1.0);
    }

    &:visited
    {
        color: $header-link-color;;
        transform: scale(0.8, 0.8);
    }

    &:focus
    {
        outline: none;
    }
}
//_lesson_block_style.scss
.lesson-block
{
    position: relative;

    .box
    {
        position: relative;
        transition: 0.3s $bounce-easing;
    }

    &:hover .box
    {
        height: 200px;
        width: 100%;
    }
}
//_loading_spinner_style.scss
.spinner {
  display: inline-block;
  width: 28px;
}


.spinner > div {
  width: 4px;
  height: 4px;
  margin-left: 1px;
  background-color: #666;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner.loading
{
    width: 56px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    & > div
    {
        width: 8px;
        height: 8px;
    }
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
//_comment_list_style.scss
.comment-frame, #upload_frame
{
    position: absolute;
    padding: 15px;
    border-bottom: 2px solid #ccc;
    border-radius: 3px;

    display: none;
    background: white;

    width: 19em;
    max-width: 100%;

    @include animation-duration(0.3s);

    z-index: 10000;
}

#sharing_lightbox, #upload_frame
{
    position: fixed;
}

.comments-list
{
    max-height: 320px;
    overflow-y: scroll;
}

.step-body
{
    .comment
    {
        position: absolute;
        right: 0.3em;
        margin-top: -0.5em;

        background: white;
        padding-right: 0.3em;

        @include border-radius(2px);
    }
}

//Dropdown.scss
$dropdown-width: 128px;

.Dropdown {

    position: relative;
    display: inline-block;

    cursor: pointer;

    .inner {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: 80%;
        left: 0;

        padding: 5px 10px;

        width: $dropdown-width;

        border-radius: 2px;
        background: $link-color;

        transition: opacity 0.2s, top 0.2s, visibility 0.2s;

        z-index: 1000;

        a {
            color: white;
        }
    }

    &.isShown {
        .inner {
            opacity: 1;
            visibility: visible;

            top: 100%;
        }

        .DropdownTrigger {
            top: -4px;
        }
    }
}



.DropdownTrigger {
    width: $dropdown-width;
    display: inline-block;

    position: relative;
    top: 0;

    transition: top 0.2s, transform 0.2s;
    user-select: none;

    &:hover {
        transform: scale(1.1);
    }
}

.DropdownItem {

    transition: transform 0.2s;

    &:hover {
        transform: scale(1.1);
    }
}
//AceEditor.scss
.AceEditor {
    textarea {
        font-size: 12px;
    }
}
//CommentButton.scss
.comment-button {
    button {
        border: none;
        background: none;

        color: $medium-grey;


        &:focus {
            outline: none;
        }
    }


    float: right;
}
//CommentPanel.scss
.comment-panel {
    h1 {
        font-size: 1em;
    }

    position: absolute;
    right: 0;

    min-width: 256px;

    padding: 0.5em;
}
//ExternalContent.scss
.ExternalContent {
    padding-bottom: 3em;

    iframe {
        width: 100%;
        height: 720px;
    }
}
//FloatingButton.scss
.FloatingToolbar
{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 5px;

    z-index: 100;

    .FloatingButton {
        transition: 0.3s, transform 0.3s $bounce-easing;

        &:hover
        {
            @include transform( scale(1.25, 1.25) );
        }
    }
}

.FloatingButton
{
    border-radius: 1000px;
    width: 40px;
    padding: 5px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    background: #E23434;
    color: white;
    text-align: center;

    font-size: 1.2em;
    cursor: pointer;
}

.FloatingButton:hover
{
    color: white;
}

.FloatingButton.big
{
    width: 48px;
    height: 48px;
    font-size: 1.5em;
    background: #3480E2;
}

.FloatingButton.small
{
    width: 32px;
    height: 32px;
    font-size: 0.9em;
    background-color: #34E278;
}
//LearningGraph.scss
.graph {
    .node {
        stroke: #fff;
        stroke-width: 1.5px;
        cursor: pointer;

        .title {
            display: none;
            stroke: none;
        }

        &:hover {
            .title {
                display: block;
            }
        }
    }

    .link {
        stroke: #999;
        fill: none;
        stroke-opacity: .6;
    }

    .line-end-marker {
        fill: #999;
    }




}
//MessageFromUs.scss
.MessageFromUs {

    .message-bubble {
        background: $link-color;
        color: white;
        border-radius: 16px;
        padding: 8px 12px;

        position: relative;

        font-weight: lighter;
    }

    .full-height {
        height: 100%;
        line-height: 100%;
        text-align: right;

        .doublejump-round {
            display: inline-block;
            margin-top: 0px;
        }
    }

    .triangle {
        position: absolute;
        left: -10px;
        top: 20px;

        width: 0;
        height: 0;

        border-right: 10px solid $link-color;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }

    margin-bottom: 2em;
}
//Module.scss
.column, .row  {
    overflow-y: visible;
}

.module {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    h3 {
        font-size: 90%;
    }

    position: relative;
    top: 0;

    transform-origin: 50% 100%;

    transition: top 0.3s, transform 0.3s, z-index 0.3s;
    cursor: pointer;

    overflow: visible;


    .inner {
        border-left: 5px solid $link-color;
    }

    &:hover {
        z-index: 1000;

        position: relative;
        top: -4px;
        transform: scale(1.05);

    }


    .info-panel {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 12.5%;

        background: $link-color;

        border-radius: 2px;
        padding: 0.5em;
        width: 75%;

        transition: top 0.3s, opacity 0.3s;
        z-index: 1000000;

        .body {

            h1 {
                font-size: 1.2em;
                white-space: normal;
            }

            font-size: 0.8em;
            color: white;
        }
    }

    &:hover .info-panel {
        opacity: 1;
        top: 80%;
    }
}
//NotificationCenter.scss
.NotificationCenter {
    position: fixed;
    top: 32px;
    left: 32px;
    z-index: 1000;

    .Notification {
        animation: bounceNotificationIn 1000ms linear both;
        background: $link-color;
        padding: 10px 50px;

        color: white;

        border-radius: 100px;
    }
}

/* Generated with Bounce.js. Edit at http://goo.gl/YWJPvV */

@keyframes bounceNotificationIn {
  0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { transform: matrix3d(0.514, 0, 0, 0, 0, 0.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% { transform: matrix3d(0.879, 0, 0, 0, 0, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.91% { transform: matrix3d(1.052, 0, 0, 0, 0, 1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.22% { transform: matrix3d(1.093, 0, 0, 0, 0, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.33% { transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.44% { transform: matrix3d(0.994, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}


//Project.scss
.Project {
    position: relative;

    .inner {

        background: $link-color;
        border-radius: 2px;
        padding: 10px 12px;

        color: white;

        position: relative;

        cursor: pointer;
        transition: transform 0.2s;

        h3 {
            margin-top: 0;
            margin-bottom: 0;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}
//Select.scss
/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/
.Select {
  position: relative;
  transition: transform 0.3s;
  z-index: 1000;

  &:hover {
    transform: scale(1.025);
  }
}
.Select-control {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 2px solid #ccc;
  // border-color: #d9d9d9 #cccccc #b3b3b3;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;

  cursor: pointer;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #ffffff;
  border-color: #b3b3b3 #cccccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #0088cc $link-color $link-color;
}
.Select-placeholder {
  color: #aaaaaa;
  padding: 8px 52px 8px 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: -15px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value > .Select-control > .Select-placeholder {
  color: #333333;
}
.Select-input > input {
  cursor: default;
  background: none transparent;
  border: 0 none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #cccccc;
  border-right-color: #333333;
  display: inline-block;
  position: relative;
  margin-top: -8px;
  position: absolute;
  right: 30px;
  top: 50%;
}
.has-value > .Select-control > .Select-loading {
  right: 46px;
}
.Select-clear {
  color: #999999;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 6px 10px;
  position: absolute;
  right: 17px;
  top: 0;
}
.Select-clear:hover {
  color: #c0392b;
}
.Select-clear > span {
  font-size: 1.1em;
}
.Select-arrow-zone {
  content: " ";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  cursor: pointer;
}
.Select-arrow {
  border-color: #999999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(2.5px);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
  cursor: pointer;
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-focused {
  background-color: #fbfbfb;
  color: #333333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: not-allowed;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select.is-multi .Select-control {
  padding: 2px 52px 2px 3px;
}
.Select.is-multi .Select-input {
  vertical-align: middle;
  border: 1px solid transparent;
  margin: 2px;
  padding: 3px 0;
}
.Select-item {
  background-color: #f2f9fc;
  border-radius: 2px;
  border: 1px solid #c9e6f2;
  color: #0088cc;
  display: inline-block;
  font-size: 1em;
  margin: 2px;
}
.Select-item-icon,
.Select-item-label {
  display: inline-block;
  vertical-align: middle;
}
.Select-item-label {
  cursor: default;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 3px 5px;
}
.Select-item-label .Select-item-label__a {
  color: #0088cc;
  cursor: pointer;
}
.Select-item-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c9e6f2;
  padding: 2px 5px 4px;
}
.Select-item-icon:hover,
.Select-item-icon:focus {
  background-color: #ddeff7;
  color: #0077b3;
}
.Select-item-icon:active {
  background-color: #c9e6f2;
}
.Select.is-multi.is-disabled .Select-item {
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  color: #888888;
}
.Select.is-multi.is-disabled .Select-item-icon {
  cursor: not-allowed;
  border-right: 1px solid #d9d9d9;
}
.Select.is-multi.is-disabled .Select-item-icon:hover,
.Select.is-multi.is-disabled .Select-item-icon:focus,
.Select.is-multi.is-disabled .Select-item-icon:active {
  background-color: #f2f2f2;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
//TopicPill.scss
.inverted {
    .topic-pill {
        background: white;
        color: $link-color;
    }
}

.topic-pill {
    display: inline-block;
    padding: 2.5px 8px;
    border-radius: 100px;
    background: $link-color;
    margin-right: 5px;
    font-size: 0.5em;

    &.big {
        font-size: 0.8em;
        padding: 4px 10px;
    }

    color: white;

    &.selectable {
        cursor: pointer;
    }

    &.selected {
        background: black;
    }
}
//ViewModulePage.scss
.view-module-page {
    .title {
        text-align: center;

        h2 {
            margin-bottom: 0;
        }

        .author {
            font-size: 1em;
        }

        margin-bottom: 1em;
    }
}

//ImageContent.scss
.ImageContent {
    text-align: center;

    img {
        max-width: 75%;
        display: inline-block;
    }
}
//Input.scss
.Input {
    label {
        color: #808080;
    }

    .caption {
        font-size: 0.8em;
        padding: 8px;
        color: #808080;
        font-weight: lighter;
    }

    margin-bottom: 1em;

    input.form-control, textarea.form-control
    {
        border: 0;
        box-shadow: none;
        border-radius: 0px;
        background: none;
        padding-left: 2px;

        font-size: 1em;

        border-bottom: 1px solid #ccc;
    }

    input.form-control:focus, textarea.form-control:focus
    {
        box-shadow: none;
        border-bottom-color: $link-color;
    }
}