.course-icon
{
    width: 64px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.math-icon
{
    @include background-image-retina('http://s3-ap-southeast-2.amazonaws.com/voltic-test-bucket/Math', 'png', 64px, 64px);
}

.gamemaker-icon
{
    @include background-image-retina('http://s3-ap-southeast-2.amazonaws.com/voltic-test-bucket/GameMaker', 'png', 64px, 64px);
}

.doublejump-icon
{
    @include background-image-retina('http://s3-ap-southeast-2.amazonaws.com/voltic-test-bucket/Doublejump', 'png', 64px, 64px);
}

.design-icon
{
    @include background-image-retina('http://s3-ap-southeast-2.amazonaws.com/voltic-test-bucket/Design', 'png', 64px, 64px);
}

.management-icon
{
    @include background-image-retina('http://s3-ap-southeast-2.amazonaws.com/voltic-test-bucket/Management', 'png', 64px, 64px);
}

.assets-icon
{
    @include background-image-retina('http://s3-ap-southeast-2.amazonaws.com/voltic-test-bucket/Assets', 'png', 64px, 64px);
}

.unity-icon
{
    @include background-image-retina('http://s3-ap-southeast-2.amazonaws.com/voltic-test-bucket/Unity', 'png', 64px, 64px);
}



.course-block
{
    height: 100%;

    .box
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 12em;
        overflow-y: hidden;
    }

    .course-icon
    {
        width: 100%;
        height: 32px;
        @include background-size(24px, 24px);
    }
}