.header-bar {
    background-color: white;
}

.header-bar.logged-in {
    padding: 10px;
}

.gradient-block {
    background-image: -o-linear-gradient(135deg, #3C52E3 0%, #3E88F3 30%, #40A6FC 47%, #B4E658 100%);
    background-image: -moz-linear-gradient(135deg, #3C52E3 0%, #3E88F3 30%, #40A6FC 47%, #B4E658 100%);
    background-image: -webkit-linear-gradient(135deg, #3C52E3 0%, #3E88F3 30%, #40A6FC 47%, #B4E658 100%);
    background-image: -ms-linear-gradient(135deg, #3C52E3 0%, #3E88F3 30%, #40A6FC 47%, #B4E658 100%);
    background-image: linear-gradient(135deg, #3C52E3 0%, #3E88F3 30%, #40A6FC 47%, #B4E658 100%);
    width: 100%;

    padding-top: 0px;
    padding-bottom: 20px;
}

.controller-image {
    @include background-image-retina('/images/controller', 'png', 334px, 384px);
    width: 334px;
    height: 384px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;

    @media only screen and (max-width: $mobile) { 
        background-size: 167px 192px;
        width: 167px;
        height: 192px;
    }
}

.doublejump {
    @include background-image-retina('/images/doublejump', 'png', 187px, 55px);
    width: 187px;
    height: 76px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;

    display: block;

    @media only screen and (max-width: $mobile) { 
        background-size: 125px 37px;
    }
}

.doublejump-dark {
    @include background-image-retina('/images/doublejump-dark', 'png', 187px, 55px);
    width: 187px;
    height: 55px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;

    @media only screen and (max-width: $mobile) { 
        background-size: 125px 37px;
    }
}

.welcome-message {
    text-align: center;
    text-transform: uppercase;
    font-family: $montserrat-stack;
    font-weight: bold;
    color: white;
    margin-top: 0px;
    letter-spacing: 2px;
}

.intro-blurb {  
    font-family: $montserrat-stack;
    color: white;
    text-align: center;
    margin-top: 30px;
    padding: 0 20px;
}

nav.navigation {
    padding: 30px;
    text-align: center;
    width: 90%;
    margin: 0 5%;
    margin-bottom: 20px;

    border-bottom: 1px solid #66BBCC;
}

a.call-to-action {
    border: 2px solid $header-link-color;  
    padding: 10px 40px;
    border-radius: 999px;
    font-family: $nunito-stack;
    font-size: 1.5em;
    text-transform: uppercase;
    color: $header-link-color;

    display: inline-block;
    position: relative;
    top: 0px;
}

.call-to-action:hover {
    border-color: $header-link-hover-color;
    top: -3px;
}

p.intro-small {
    color: white;
}

.box {
    background: $page-content-color;
    padding: 1em;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1em;

    border-radius: 2px;

    h1, h2, h3, h4, h5 {
        color: $landing-page-heading-color;
    }
}

.box p {
    color: $landing-page-font-color;
}

footer.footer {
    background-color: #444;
}
