#sharing_lightbox
{
    display: none;

    position: fixed;
    top: 5%;
    left: 50%;
    margin-left: -35%;
    width: 70%;
    height: 80%;

    @include animation-duration(0.2s);

    z-index: 9999;

    .box
    {
        height: 100%;
    }
}

#sharing_lightbox img
{
    width: 100%;
}

#sharing_lightbox_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: black;
    opacity: 0.5;

    display: none;

    z-index: 9998;

    @include animation-duration(0.75s);
}

.image-frame
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;

    text-align: center;
    vertical-align: middle;

    display: inline-block;
}

img.shared-image
{
    width: 100%;
}

.shared-image-holder:before, .image-frame:before
{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.shared-image-holder
{
    width: 100%;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;

    @include border-radius(2px);

    background: black;
}

.shared-wrapper
{
    display: inline-block;

    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    padding: 0.5%;
    padding: 0.5%;

    width: 24%;

    @media only screen and (max-width: $tablet) { 
        width: 32%;
    }

    @media only screen and (max-width: $mobile) { 
        width: 49%;
    }

    .caption
    {
        padding: 0.2em;

        .comment a
        {
            color: $link-color
        }

        .comment a:hover
        {
            color: $link-hover-color
        }
    }
}

.action-list
{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 1em;
    text-align: center;

    li
    {
        display: inline-block;
    }
}

.description.dark-bg
{
    color: white;
    text-align: center;
}