.step-body img
{
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

.step-body
{
    a
    {
        display: inline-block;
    }

    .interactive
    {
        width: 100%;
        margin-bottom: 1em;

        canvas
        {
            display: block;
            margin: 0 auto;
        }
    }
}