$header-link-color: #F6FF56;
$header-link-hover-color: #C0E7FF;
$landing-page-heading-color: #697A7D;
$landing-page-font-color: #808080;
$link-color: #4FAEE8;
$link-disabled: #B7D1E0;
$link-hover-color: #0084D5;
$page-content-background-color: #F6F6F6;
$info-colour: #d9edf7;
$info-bar-colour: #428bca;
$definition-colour: #fcf8e3;
$definition-bar-colour: #ECD871;
$notification-colour: #f8f8f8;
$notification-bar-colour: #dbdbdb;
$hideable-colour: #F8F8F8;
$hideable-bar-colour: #DBDBDB;
$definition-link-color: #DBD262;
$error-color: red;
$page-content-color: white;
$nunito-stack: 'Nunito', sans-serif;
$nunito-light-stack: 'Nunito-Light', sans-serif;
$montserrat-stack: 'Montserrat', sans-serif;
$mobile: 480px;
$tablet: 768px;
$screen: 992px;
$large-screen: 1200px;