.view-module-page {
    .title {
        text-align: center;

        h2 {
            margin-bottom: 0;
        }

        .author {
            font-size: 1em;
        }

        margin-bottom: 1em;
    }
}
