- content_for :include_end_body
    - query = (find_from_id_list Step, @lesson.step_ids, [:id, :title]).to_json
    javascript:

        var collection = new SortableItemCollection();
        var urlBase = "#{{ url_for(:editor, :step, @course.id, @lesson.id, "") }}";
        var currentStep = "#{{ @step ? @step.id : '#' }}";

        _.each(#{{ query }}, function(model)
        {
            var model = new SortableItem({
                id: model["_id"]["$oid"],
                title: model.title,
                link: urlBase + model["_id"]["$oid"]
            });

            if (model.get("id") == currentStep)
            {
                model.set({cssClass: "active"});
            }

            collection.add(model);
        });

        new SortableItemListView({
            el: $("#steps_sortable_list"),
            hiddenFieldName: 'lesson[steps][]',
            targetList: '#steps',
            collection: collection
        });

#steps_sortable_list
    p
        ul#steps.js-sortable.step-list

    p
        = form.select(:step, :collection => @steps, :fields => [:title, :id], :class => 'js-select2')
        a.js-sortable-add-new href="#"
            i.fa.fa-plus-circle
