- bg_normal = category_tag.colour
- bg_selected = darken_color(category_tag.colour, 0.8)

span.category-tag.js-category-tag style="background-color: #{bg_normal}" data-category="#{category_tag.name}" data-bg="#{bg_normal}" data-bg-selected="#{bg_selected}"
    = category_tag.name
