.content.dragged, .content.minimised
{
    max-height: 100px;
    overflow: hidden;
}

.content h4
{
    cursor: move;
}

.box.affects-next-content
{

    margin-bottom: 0;
    border-bottom: 2px dashed $link-color;

    & + .content
    {
        margin-top: 0;
    }
}

.box.affects-next-two-contents
{

    & + .content
    {
        margin-bottom: 0;
        border-bottom: 2px dashed $link-color;
    }

    & + .content + .content
    {
        margin-top: 0;
    }
}

.edit-content-type-tools__visible {
    opacity: 1;
    top: 0;
}

.content-type.editable {

    margin-top: 10px;
    margin-bottom: 10px;

    transition: 0.3s;

    position: relative;

    &:hover {

        // margin-top: 30px;

        .edit-content-type-tools {
            @extend .edit-content-type-tools__visible;
            top: -20px;
        }
    }
}

.edit-content-type-tools {
    position: absolute;
    opacity: 0;
    right: 0;
    top: -30px;

    transition: 0.3s;

    z-index: 100;
}

.content-type.gu-transit {
    transform: scale(1.05, 1.05);
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 20px;

    .edit-content-type-tools {
        @extend .edit-content-type-tools__visible;
    }
}

.content-type.gu-mirror {
    display: none;
}

.gu-unselectable {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
