.content.dragged, .content.minimised
{
    max-height: 100px;
    overflow: hidden;
}

.content h4
{
    cursor: move;
}

.box.affects-next-content
{

    margin-bottom: 0;
    border-bottom: 2px dashed $link-color;

    & + .content
    {
        margin-top: 0;
    }
}

.box.affects-next-two-contents
{

    & + .content
    {
        margin-bottom: 0;
        border-bottom: 2px dashed $link-color;
    }

    & + .content + .content
    {
        margin-top: 0;
    }
}

.content-type.editable {

    border: 1px solid;
    border-color: rgba(128, 128, 128, 0);
    border-radius: 2px;;

    margin-top: 0;
    margin-bottom: 0;

    transition: 0.3s;

    &:hover {

    }
}


.content-type.gu-transit {
    transform: scale(1.05, 1.05);
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-type.gu-mirror {
    display: none;
}

.gu-unselectable {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
