.content.dragged, .content.minimised
{
    max-height: 100px;
    overflow: hidden;
}

.content h4
{
    cursor: move;
}

.box.affects-next-content
{

    margin-bottom: 0;
    border-bottom: 2px dashed $link-color;

    & + .content
    {
        margin-top: 0;
    }
}
