.create-button
{
    @include border-radius(10000px);
    background-color: $link-color;
    border: 0px;
    padding: 5px 15px;
    color: white;
    display: inline-block;
    text-align: center;

    transition: 0.3s, transform 0.3s $bounce-easing;
}

.create-button:hover
{
    background-color: $link-hover-color;
    color: white;

    transform: scale(1.1, 1.1);
}

.create-button:disabled, .create-button[disabled=disabled]
{
    background-color: $link-disabled;
    @include animation(pulsing 2s infinite);
}
