.course-icon
{
    width: 64px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.math-icon
{
    @include background-image-retina('http://d2wkzz9b3028w4.cloudfront.net/Math', 'png', 64px, 64px);
}

.gamemaker-icon
{
    @include background-image-retina('http://d2wkzz9b3028w4.cloudfront.net/GameMaker', 'png', 64px, 64px);
}

.doublejump-icon
{
    @include background-image-retina('http://d2wkzz9b3028w4.cloudfront.net/Doublejump', 'png', 64px, 64px);
}

.design-icon
{
    @include background-image-retina('http://d2wkzz9b3028w4.cloudfront.net/Design', 'png', 64px, 64px);
}

.management-icon
{
    @include background-image-retina('http://d2wkzz9b3028w4.cloudfront.net/Management', 'png', 64px, 64px);
}

.assets-icon
{
    @include background-image-retina('http://d2wkzz9b3028w4.cloudfront.net/Assets', 'png', 64px, 64px);
}

.unity-icon
{
    @include background-image-retina('http://d2wkzz9b3028w4.cloudfront.net/Unity', 'png', 64px, 64px);
}

.read-more
{
    position: absolute;
    bottom: 0.1em;
    left: 0;
    width: 100%;
    text-align: center; 
    margin: 0; padding: 20px 0; 

    /* "transparent" only works here because == rgba(0,0,0,0) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)),color-stop(1, white));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), white);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), white);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), white);
}

.course-block
{
    height: 100%;
    
    .box
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 10em;
        overflow-y: hidden;
        position: relative;
    }

    .course-icon
    {
        width: 100%;
        height: 32px;
        @include background-size(24px, 24px);
    }
}