%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:steps, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:steps, :new)

.tabs-content
  = form_for :step, url(:steps, :create), :class => 'form-horizontal' do |f|
    =partial 'steps/form', :locals => { :f => f }
